/* src/App.css */
.App {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
  margin: 6;
  padding: 0;
  background-color: #f4f4f4;
  font-size: 16px;
}
